.profile-container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 10%;
    min-height: fit-content;
    box-sizing: border-box;
}


.navbar{
    display: flex;
    align-items: center;
    margin: 30px auto;
    height: 40px;
    width: 80%;
    justify-content: center;
    align-self: center;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

.navbar a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.navbar .home-selected{
    color: #FF5823;
}

.navbar a:hover{
    color: #FF5823;
}

.menu-toggle{
    display: none;
}

.navbar h1{
    color: #FF5823;
    font-weight: 700;
} 

.menu-toggle{
    width: 30px;
    height: 30px;
    background-image: url('./menu.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.profile-parent{
    display: flex;
    align-items: center;
    color: aliceblue;
    justify-content: center;
    padding: 10px 30px 0 30px;
}

.profile-details-name{
    font-size: 24px;
    font-family: "Poppins SemiBold";
}

.profile-details-role {
    display: flex;
    flex-direction: column;
    margin: 4px 0 2px 0;
}

.profile-details-role .primary-text h1{
    font-size: 40px;
    /* font-family:  'Courier New', Courier, monospace; */
    font-family: cursive;
    text-align: center;
    color: #fff;
}

.primary-text{
    color: (--white);
}

.highlighted-text{
    color: var(--dark-orange);
}

.profile-role-tagline{
    font-size: 19px;
    margin: 5px 0 0;
    font-family: "Poppins Light";
}

.profile-options .highlighted-btn{
    margin: 0 0 0 28px;
}
.profile-options .highlighted-btn:hover{
    margin: 0 0 0 28px;
    background-color: cornsilk;
    color: #111;
}

.profile-picture{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 0px 0px var(--white);
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin: 0 0 0 30px;
}

.profile-picture-background{
    height: 92%;
    width: 92%;
    background-image: url(../../../assets/Home/profile.png);
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.profile-picture-background:hover{
    transform: scale(1.07);
    transition: 1s ease-out;
}

.cols .cols-icon i{
    color: white;
    padding: 8px;
    padding-left: 0px;
}


.cols .cols-icon i:hover{
    transform: scale(0.5);
}



/* Media querys */

@media screen and (max-width: 1110px){ 

    .profile-picture{
        margin: 0 0 0 10px;
    }
    .profile-details-name{
        font-size: 20px;
    }
    .profile-details-role .primary-text{
        font-size: 12px;
        color: #fff;
        justify-content: center;
        text-align: center;
    }

    .profile-options .btn{
        width: 120px;
        padding: 11px 0;
        z-index: 700;
    }
}
@media screen and (max-width: 1000px){
    .menu-toggle{
        display: block;       
        cursor: pointer;
    }



    nav ul{
        position: absolute;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
        max-height: 0px;
    }

    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
} 

@media screen and (max-width: 910px){
    .profile-picture{
        height: 250px;
        width: 300px;
        margin: 0 0 0 4px;
    }   
}
@media screen and (max-width: 810px){
    .profile-picture{
        margin: 0 !important;
        width: 260px;
    }   
    .profile-parent{
        flex-direction: column-reverse;
        margin: 40px 0 0 0;
    }

    .profile-options{
        display: flex;
        justify-content: space-between;
    }
    .profile-details{
        margin: 25px 0 0 0 ;
    }

    .profile-options .highlighted-btn{
        margin: 0 !important;
    }

    .profile-options, .profile-details-role{
        text-align: center;
        justify-content: center;
    }
    .profile-details-role .primary-text h1{
        font-size: 30px;
        font-family: cursive;
        text-align: center;
        color: #fff;
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 375px){
    .profile-picture{
        height: 200px;
        width: 200px;
        margin-top: -90px;
    }
    .profile-details{
        width: 90%;
    }
    .profile-details-role .primary-text h1{
        font-size: 27px;
        font-family: cursive;
        color: #fff;
    }
    
}

