.about-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-image: url('./image/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding-bottom: 10px;
}

.about-header{
    opacity: 1;
    z-index: 50;
    padding-top: 20px;
}
.about-header .about-title{
    text-transform: capitalize;
    font-size: 32px;
    font-family: 'Poppins','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #fff;
    margin: 0;
    padding-top: 25px;
}

.about-header .about_subtitle{
    text-transform: capitalize;
    font-size: 14px;
    font-family: 'Poppins regular','Gill Sans', 'Trebuchet MS', sans-serif;
    color: #fff;
    margin-top: 0;
}

.about-header .horinzotal-row{
    border: none;
    height: 4px;
    color: #FF5823;; 
    background-color: #FF5823;
    border-radius: 8%;
    margin-top: 2px;
}

.about-content{
    padding: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 745px;
    min-width: none;
    height: 470px;
    box-shadow: 1.5px 1.5px 1.5px 1.5px #1F2235;
    transition: 1s ease-out;
    opacity: 1;
    z-index: 50;
    color: #fff;
}

.about-content .about-photo{
    width: 245px;
    height: 470px;
    background-image: url('./M.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about-content .about-descriction{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
    height: 470px;
    width: 500px;
    box-sizing: border-box;
    background-color: #1F2235;
}

.about-descriction p{
    margin: 20px;
    font-size: 13px;
    font-family: 'Poppins regular','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about-descriction ul{
    font-size: 14px;
    font-family: 'Poppins regular','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.about-descriction span{
    margin-left: 20px;
    margin-bottom: 0 !important;
    font-size: 14px;
    font-family: 'Poppins regular','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about-descriction ul{
    margin: 0;
}

.about-descriction li{
    font-size: 14px;
    font-family: 'Poppins regular','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

::marker{
    color: #FF5823;
    font-size: 27px;
}

.about-descriction .find-me{
    margin: auto;
}


@media screen and (max-width: 1110px) {
    .about-container{
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width: 910px){
    
    .about-container {
        justify-content: baseline;
    }

    .about-container .about-content{
        margin-top: 10px;
    }  

    
    .about-content .about-descriction{
        width: 500px;
    }

}

@media screen and (max-width: 810px){
    
    .about-container {
        width: 810px;
        justify-content: baseline;
        height: auto;
        padding-bottom: 20px;
    }

    .about-container .about-content{
        width: 80%;
        margin-top: 10px;
    }  

    
    .about-content .about-descriction{
        width: 80%;
    }

    

}

@media screen and (max-width: 575px){
    .about-container {
        width: 575px;
    }

    .about-container .about-content{
        width: 90%;
        margin-bottom: 30px;
    } 

    .about-container .about-content .about-descriction{
        width: 100%;
    }

    .about-content .about-photo{
        width: 200px;
    }
    .about-header .about-title{
        font-size: 30px;
        margin-top: 10px;
    }
    
    .about-header .about_subtitle{
        font-size: 16px;
    }
    
    .about-header .horinzotal-row{
        height: 3px;
        margin-top: 5px;
    }

    
.about-descriction p{
    margin: 12px;
    font-size: 10px;
}

.about-descriction ul{
    font-size: 13px;
}
.about-descriction span{
    margin-left: 5px;
    font-size: 13px;
}

.about-descriction ul{
    margin: 0;
}

.about-descriction li{
    font-size: 13px;
}

::marker{
    font-size: 23px;
}

.about-descriction .find-me{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}
  
}

@media screen and (max-width: 420px){
    .about-container {
        height: auto;
        width: 420px;
    }

    .about-container .about-content{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 625px;
    } 

    .about-container .about-content .about-descriction{
        width: 100%;
    }

    .about-content .about-photo{
        width: 200px;
        height: 350px;
    }
    .about-header .about-title{
        font-size: 24px;
        margin-top: 25px;
    }
    
    .about-header .about_subtitle{
        font-size: 12px;
    }
    
    .about-header .horinzotal-row{
        height: 2px;
        margin-top: 10px;
    }

    
.about-descriction p{
    margin: 10px;
    font-size: 10px;
}

.about-descriction ul{
    font-size: 11px;
}
.about-descriction span{
    margin-left: 5px;
    font-size: 11px;
}

.about-descriction ul{
    margin: 0;
}

.about-descriction li{
    font-size: 11px;
}

::marker{
    font-size: 17px;
}

.about-descriction .find-me{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}
  
}
@media screen and (max-width: 375px){
    .about-container {
        height: auto;
        width: 375px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .about-container .about-content{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 625px;
        margin-bottom: 30px;
    } 

    .about-container .about-content .about-descriction{
        width: 100%;
    }

    .about-content .about-photo{
        width: 125px;
        height: 150px;
    }
    .about-header .about-title{
        font-size: 24px;
        margin-top: 25px;
    }
    
    .about-header .about_subtitle{
        font-size: 12px;
    }
    
    .about-header .horinzotal-row{
        height: 2px;
        margin-top: 10px;
    }

    
.about-descriction p{
    margin: 10px;
    font-size: 10px;
}

.about-descriction ul{
    font-size: 11px;
}
.about-descriction span{
    margin-left: 5px;
    font-size: 11px;
}

.about-descriction ul{
    margin: 0;
}

.about-descriction li{
    font-size: 11px;
}

::marker{
    font-size: 17px;
}

.about-descriction .find-me{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}
  
}

@media screen and (max-width: 320px){
    .about-container {
        height: auto;
        width: 320px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .about-container .about-content{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 525px;
        margin-bottom: 30px;
    } 

    .about-container .about-content .about-descriction{
        width: 100%;
    }

    .about-content .about-photo{
        width: 125px;
        height: 150px;
    }
    .about-header .about-title{
        font-size: 24px;
        margin-top: 25px;
    }
    
    .about-header .about_subtitle{
        font-size: 12px;
    }
    
    .about-header .horinzotal-row{
        height: 2px;
        margin-top: 10px;
    }

    
.about-descriction p{
    margin: 10px;
    font-size: 10px;
}

.about-descriction ul{
    font-size: 11px;
}
.about-descriction span{
    margin-left: 5px;
    font-size: 11px;
}

.about-descriction ul{
    margin: 0;
}

.about-descriction li{
    font-size: 11px;
}

::marker{
    font-size: 17px;
}

.about-descriction .find-me{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}



}