.resume-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 480px;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    height: 100vh;
}

.resume-header .resume-title{
    text-transform: capitalize;
    font-size: 32px;
    font-family: 'Poppins','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #1F2235;
    margin: 30px;
}

.resume-header .resume_subtitle{
    text-transform: capitalize;
    font-size: 18px;
    font-family: 'Poppins regular','Gill Sans', 'Trebuchet MS', sans-serif;
    color: #333333;
    margin-top: 0;
}

.resume-header .horinzotal-row{
    border: none;
    height: 4px;
    color: #FF5823;; 
    background-color: #FF5823;
    border-radius: 8%;
    margin-bottom: 20px;
}

.resume-content{
    padding: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 800px;
    height: 340px;
    transition: 1.5s ease-out;
}

.resume-content .resume-option{
    height: 340px;
    width: 210px;
    box-shadow:1px 0.5px 0.5px .5px;
}

.resume-content .resume-option .option{
    height: 230px;
    width: 20px;
    margin-top: 60px;
    margin-left: 50px;
    position: relative;
    background-color: #1F2235;
    box-shadow: 0 0 20px 9px #1F22351f;
}
.btn-option{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    position: relative;
}

.active{
    color: #fff;
    font-weight: bold;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 700%;
    height: 45px;
    background: #1F2235;
    border-radius: 30px;
    transition: .5s;
}

.resume-content .resume-item{
    height: 340px;
    width: 590px;
    
}

.resume-item .resume-item-container{
    height: 340px;
    width: 590px;
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
}
.resume-item .resume-item-container .educacao{
    height: 100%;
    top: 0px;
    position: relative;
}


.educacao .content-bio{
    padding-top: 35px;
    align-items: center;
    justify-content: left;
    text-align: left;
}

.content-bio ul{
    margin: 12px;
}
.content-bio li{
    font-family: cursive;
    margin: 20px;
    padding-left: 0;
    justify-content: left;
}

 .educacao .span-title{
    font-weight: bold;
    text-transform: capitalize;
    color: #1F2235;
    margin-left: 12px;
}

.educacao .span-content{
    font-weight: normal;
    text-transform: capitalize;
    color: #FF5823;
   text-align: left;
   margin-left: 30px;
}

.educacao .btn-bio{
    font-family: "Poppins Light";
    font-weight: 700;
    background-color: #FF5823;
    color: #fff;
    border-radius: 30px;
    margin-right: 10px;

}

.educacao ::marker{
    font-size: 25px;
}

.resume-item .resume-item-container .experiencia{ 
    height: 340px;
    position: relative;
    top: 0px;
}

.experiencia .content-experience{
    padding-top: 35px;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.span-title-experience{
    font-weight: bold;
    font-size: 14;
    font-family: cursive;
    text-transform: capitalize;
    color: #FF5823;
    margin-left: 5px;
}

.span-content-experience{
    font-weight: normal;
    color: #1F2235;
    text-align: left;
    margin-left: 20px;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn-experience{
    font-family: "Poppins Light";
    font-weight: 700;
    background-color: #1F2235;
    color: #FF5823;
    border-radius: 30px;
    margin-left: 430px;
}

.link-github{
    text-decoration: none;
    color: #1F2235;
}

.link-github :visited{
    color: #1F2235;
}

.resume-item .resume-item-container .skins{
    height: 340px;
    position: relative;
    top: 0px;
} 

.content-skins{
    padding-top: 10px;
    align-items: center;
    justify-content: left;
    text-align: left;
}
.content-skins .content-grid{
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(9, auto);
    grid-template-rows: repeat(8, auto);
    grid-gap: 10px;
}

.content-skins .content-grid .skin1{
    grid-column: 1 / 4;
    grid-row: 1 / 1;
}
.content-skins .content-grid .skin2{
    grid-column: 6 / 10;
    grid-row: 1 / 1;
}
.content-skins .content-grid .skin3{
    grid-column: 1 / 4;
    grid-row: 2 / 2;
}
.content-skins .content-grid .skin4{
    grid-column: 6 / 10;
    grid-row: 2 / 2;
}
.content-skins .content-grid .skin5{
    grid-column: 1 / 4;
    grid-row: 3 / 3;
}
.content-skins .content-grid .skin6{
    grid-column: 6 / 10;
    grid-row: 3 / 3;
}
.content-skins .content-grid .skin7{
    grid-column: 1 / 4;
    grid-row: 4 / 4;
}
.content-skins .content-grid .skin8{
    grid-column: 6 / 10;
    grid-row: 4 / 4; 
}

.content-skins .content-grid .skin-title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    color: #FF5823;
}

.content-skins .content-grid .skin-content{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    color: #1F2235;
}

.content-skins .content-grid ::marker{
    font-size: 23px;
    font-weight: bold;
    color: #1F2235;
}

.resume-item .resume-item-container .projectos{
    height: 340px;
    position: relative;
    top: 0px;
}

.project-content{
    padding-top: .1px;
    align-items: center;
    justify-content: left;
    text-align: left;
}

.procjct-title{
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
    color: #FF5823;
    margin-top: 0px;
}

.procjct-content{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;;
    color: #1F2235;
}

 .project-content ul li p{
    padding: 0;
    margin-top: 0;
    font-size: 11.5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.project-content .btn-bio{
    font-family: "Poppins Light";
    font-weight: 700;
    color: #FF5823;
    border-radius: 30px;

}

.project-content ::marker{
    font-size: 17px;

}
.resume-item .resume-item-container .interesse{
    height: 340px;
    position: relative;
    top: 0px;
}

.interesse-content{
    padding-top: 1px;
    align-items: center;
    justify-content: left;
    text-align: left;
}

.interesse-content .interesse-title{
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #FF5823;
    font-weight: bold;
}

.interesse-content p{
    font-size: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #1F2235;
}

/* Media queries */
@media screen and (max-width: 1110px) {
     .resume-container{
        height: 480px;
        justify-content: center;
        align-items: center;
    }
    
    .resume-header .resume-title{
        font-size: 24px;
    }

    .resume-header .resume_subtitle{
        font-size: 16px;
    }
}
    .resume-header .horinzotal-row{
        height: 3px;
    }

    @media screen and (max-width: 910px){
        .resume-container{
            display: flex;
            height: 500px;
        }

        .resume-content{
            padding: 0;
            display: flex;
            justify-content: left;
            align-items: center;
            width: 800px;
            height: 340px;
            transition: 1.5s ease-out;
           
        }

        .experiencia .content-experience{
            padding-top: 15px;
            width: auto;
            height: 100%;
        }

                
        .content-skins .content-grid .skin-title{
            font-family: 'Lucida Sans Unicode','Arial Narrow Bold', sans-serif;
            font-size: 18px;
            font-weight: bold;
            color: #FF5823;
        }

        .content-skins .content-grid .skin-content{
            font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 12px;
            color: #1F2235;
        }

        .procjct-title{
            font-family: 'Lucida Sans Unicode',Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 12px;
            font-weight: bold;
            color: #FF5823;
            margin-top: 0px;
        }

        .procjct-content{
            font-family: 'Lucida Sans Unicode',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 10px;;
            color: #1F2235;
        }

        .project-content ul li p{
           margin: auto;
        }  
    }

    @media screen and (max-width: 810px){
        .resume-content{
            flex-direction: column;
            width: 700px;
        }
        .resume-content .resume-option{
            height: 50px;
            width: 640px;
            padding: 2px;
            box-shadow:1px 0.5px 0.5px .5px;
        }
        
        .resume-content .resume-option .option{
            height: 100%;
            width: 640px;
            margin-top: 2px;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            box-shadow: 0 0 20px 9px #1F22351f;
            background-color: #fff;
        }

        .btn-option{
            padding: 10px 30px;
            cursor: pointer;
            background: transparent;
            border: none;
            outline: none;
            position: relative;
        }
      
        #btn{
            top: 0;
            left: 10px;
            width: 0px;
            height: 0px;

        }

        .active{
            color: #FF5823;
            background-color: #1F2235;
        }
        
    }

    

    @media screen and (max-width: 575px){
        .resume-content{
            width: 375px;
        }

        .resume-content .resume-option{
            height: 50px;
            width: 370px;
            padding: 2px;
            box-shadow:1px 0.5px 0.5px .5px;
        }

        .resume-content .resume-option .option{
            height: 100%;
            width: 370px;
            box-sizing: border-box;
        }

        .btn-option{
            font-size: 14px;
            padding-left: 0;
            padding-right: 5px;
            margin: 0;
            margin-top: 2px;
        }

        .resume-item .resume-item-container{
            padding: 10px;
        }

    }


    @media screen and (max-width: 375px){
        .resume-content{
            width: 375px;
        }

        .resume-content .resume-option{
            height: 50px;
            width: 370px;
            padding: 2px;
            box-shadow:1px 0.5px 0.5px .5px;
        }

        .resume-content .resume-option .option{
            height: 100%;
            width: 370px;
            box-sizing: border-box;
        }

        .btn-option{
            font-size: 14px;
            padding-left: 0;
            padding-right: 5px;
            margin: 0;
            margin-top: 2px;
        }

        
            .resume-content .resume-item{
                width: 370px;
                
            }

            .resume-item .resume-item-container{
                width: 370px;
            }
            
            .educacao .content-bio{
                padding-top: 2px;
                align-items: center;
                justify-content: left;
                text-align: left;
            }
            
            .content-bio ul{
                margin: 5px;
                margin-top: 60px;
            }
            .content-bio li{
                font-family: cursive;
                margin: 10px;
                padding-left: 0;
                justify-content: left;
            }
            
             .educacao .span-title{
                font-weight: bold;
                text-transform: capitalize;
                color: #1F2235;
                margin-left: 5px;
                font-size: 12px;
            }
            
            .educacao .span-content{
                font-weight: normal;
                text-transform: capitalize;
                color: #FF5823;
                text-align: left;
                margin-left: 10px;
                font-size: 11.5px;
            }
            
            .educacao .btn-bio{
                font-family: "Poppins Light";
                font-weight: 700;
                background-color: #FF5823;
                color: #fff;
                border-radius: 30px;
            }
            
            .educacao ::marker{
                font-size: 20px;
            }

            .experiencia .content-experience{
                padding-top: 5px;
            }

            .span-title-experience{
                font-weight: bold;
                font-size: 10;
                margin: 1px;
            }

            .span-content-experience{
                margin: 1px;
                font-size: 9px;
            }

            .btn-experience{
                font-family: "Poppins Light";
                font-weight: 700;
                background-color: #1F2235;
                color: #FF5823;
                border-radius: 30px;
                margin-left: 180px;
            }

                        
            .resume-item .resume-item-container .skins{
                height: 325px;
            } 

            .content-skins{
                padding-top: 2px;
            }
            .content-skins .content-grid{
                padding-top: 5px;
                grid-gap: 5px;
            }

            
            .content-skins .content-grid .skin-title{
                font-size: 13px;
            }

            .content-skins .content-grid .skin-content{
                font-size: 10px;
            }

            .content-skins .content-grid ::marker{
                font-size: 18px;
            }

                        
            .resume-item .resume-item-container .projectos{
                height: 325px;
                padding-top: 15px;
            }

            .procjct-title{
            font-size: 10px;
            }

            .project-content ul li p{
                font-size: 9px;
            }

                    
        .resume-item .resume-item-container .interesse{
            /* height: 325px; */
            margin-top: 15px;
            padding-top: 10px;
        }

        .interesse-content .interesse-title{
            font-size: 12px;
        }

        .interesse-content p{
            font-size: 10px;
        }    
    }

    @media screen and (max-width: 320px){
        .resume-content{
            width: 320px;
        }

        .resume-content .resume-option{
            height: 50px;
            width: 300px;
            padding: 2px;
            box-shadow:1px 0.5px 0.5px .5px;
        }

        .resume-content .resume-option .option{
            height: 100%;
            width: 300px;
            box-sizing: border-box;
        }

        .btn-option{
            font-size: 10.5px;
            font-weight: bold;
        }

        
        .resume-content .resume-item{
            width: 300px;
                
        }

        .resume-item .resume-item-container{
            width: 300px;
        }
            
        .educacao .content-bio{
            padding-top: .3px;
        }
            
            .content-bio ul{
                margin: 5px;
                margin-top: 10px;
            }
           
            
             .educacao .span-title{
                font-size: 11px;
            }
            
            .educacao .span-content{
                font-size: 10px;
            }
            
            .educacao ::marker{
                font-size: 18px;
            }

            .experiencia .content-experience{
                padding-top: 1px;
            }

            .span-title-experience{
                font-weight: bold;
                font-size:11px;
                margin: 1px;
            }

            .span-content-experience{
                margin-top: 1px;
                font-size: 8px;
            }

            .btn-experience{
             font-size: 2px;
            }

                                   
            .resume-item .resume-item-container .skins{
                height: 325px;
            } 

            .content-skins{
                padding-top: 2px;
            }
            .content-skins .content-grid{
                padding-top: 5px;
                grid-gap: 5px;
            }

            
            .content-skins .content-grid .skin-title{
                font-size: 12px;
            }

            .content-skins .content-grid .skin-content{
                font-size: 9px;
            }

            .content-skins .content-grid ::marker{
                font-size: 14px;
            }

                        
            .resume-item .resume-item-container .projectos{
                height: 325px;
            }

            .procjct-title{
            font-size: 10px;
            }

            .project-content ul li p{
                font-size: 9px;
            }

            .project-content ::marker{
                font-size: 14px;
            }


                    
        .resume-item .resume-item-container .interesse{
            margin-top: 5px;
            padding-top: 5px;
        }

        .interesse-content .interesse-title{
            font-size: 12px;
        }

        .interesse-content p{
            font-size: 9.7px;
        }   
        
        .interesse-content ::marker{
            font-size: 14px;
        }

        
    }
